# Class Scheduling Problem
### Schedule the timetable for a school based on the timetable skeleton provided.
## Overview
The idea is to take a timetable schedule for a school (i.e. period times in a week) and populate it with lessons based on what classes students take, what classes teachers teach, venues, etc.

This is quite a complex problem to do by hand, so I am hoping that it can be solved with optimization.

### Data Gathering

In [30]:
import pandas as pd
import numpy as np

In [3]:
students_df = pd.read_csv("data/students.csv")
students_df

    Student_ID     Name  Grade      Subject  Set
0            1  Colleen     10      English    1
1            1  Colleen     10  Mathematics    1
2            1  Colleen     10      Science    1
3            1  Colleen     10    Geography    1
4            1  Colleen     10        Drama    1
5            2     Tess     10      English    1
6            2     Tess     10  Mathematics    1
7            2     Tess     10      Science    1
8            2     Tess     10    Geography    1
9            2     Tess     10        Drama    1
10           3     Lucy     10      English    1
11           3     Lucy     10  Mathematics    1
12           3     Lucy     10      Science    1
13           3     Lucy     10    Geography    1
14           3     Lucy     10        Drama    1

In [4]:
lessons_df = pd.read_csv("data/lessons_sml.csv")
lessons_df

   Teacher ID Teacher      Subject  Grade  Set  Hours per Week
0           1   Chris      English     10    1               4
1           2    Nick  Mathematics     10    1               5
2           3    Ryan      Science     10    1               5
3           4   Chloe    Geography     10    1               4
4           5    Jaxi        Drama     10    1               2

In [5]:
venues_df = pd.read_csv("data/venues.csv")
venues_df

   Venue ID Name  Capacity
0         1  LT1        10
1         2  LT2        10
2         3  LT3        10
3         4  LT4        10
4         5  LT5        10

In [6]:
timetable_df = pd.read_csv("data/timetable.csv")
timetable_df

          Day Period Name Start time  Duration (hours)
0      Monday    assembly      08:00                 1
1      Monday       class      09:00                 1
2      Monday       class      10:00                 1
3      Monday       break      11:00                 1
4      Monday       class      12:00                 1
5      Monday       class      13:00                 1
6      Monday       lunch      14:00                 1
7     Tuesday    assembly      08:00                 1
8     Tuesday       class      09:00                 1
9     Tuesday       class      10:00                 1
10    Tuesday       break      11:00                 1
11    Tuesday       class      12:00                 1
12    Tuesday       class      13:00                 1
13    Tuesday       lunch      14:00                 1
14  Wednesday    assembly      08:00                 1
15  Wednesday       class      09:00                 1
16  Wednesday       class      10:00                 1
17  Wednesday       break      11:00                 1
18  Wednesday       class      12:00                 1
19  Wednesday       class      13:00                 1
20  Wednesday       lunch      14:00                 1
21   Thursday    assembly      08:00                 1
22   Thursday       class      09:00                 1
23   Thursday       class      10:00                 1
24   Thursday       break      11:00                 1
25   Thursday       class      12:00                 1
26   Thursday       class      13:00                 1
27   Thursday       lunch      14:00                 1
28     Friday    assembly      08:00                 1
29     Friday       class      09:00                 1
30     Friday       class      10:00                 1
31     Friday       break      11:00                 1
32     Friday       class      12:00                 1
33     Friday       class      13:00                 1
34     Friday       lunch      14:00                 1

### Data Pre-Processing

In [7]:
lessons_per_day = []
days_per_week = range(5)
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

for day in days:
    lessons_per_day.append(timetable_df.groupby('Day')['Period Name'].value_counts()[day]['class'])

lessons_per_day

[4, 4, 4, 4, 4]

In [8]:
students_per_venue = []
number_of_venues = range(venues_df.count()['Venue ID'])

for i in number_of_venues:
    students_per_venue.append(venues_df["Capacity"][i])
    
students_per_venue

[10, 10, 10, 10, 10]

In [25]:
subjects = students_df["Subject"].unique()
subjects_check = lessons_df["Subject"].unique()

if subjects_check.shape != subjects.shape:
    print("Something is wrong. Number of teacher subjects different to number of student subjects.")
else:
    number_of_subjects = range(subjects.shape[0])
    print("There are {} subjects.".format(len(number_of_subjects)))
print(subjects)

subject_hours_per_week = lessons_df["Hours per Week"]
print(subject_hours_per_week)

There are 5 subjects.
['English' 'Mathematics' 'Science' 'Geography' 'Drama']
0    4
1    5
2    5
3    4
4    2
Name: Hours per Week, dtype: int64

In [10]:
number_of_students = range(students_df["Student_ID"].unique().shape[0])
len(number_of_students)

3

### Problem Formulation & Optimization

In [11]:
from mip import Model, xsum, minimize, INTEGER, BINARY, OptimizationStatus

m = Model()

# Students 
# students -> days_per_week -> lessons_per_day -> subjects 
x_students = [[[[m.add_var(var_type=BINARY) 
               for j in number_of_subjects] 
               for i in range(lessons_per_day[k])] 
               for k in days_per_week]
               for h in number_of_students]

In [62]:
### CONSTRAINTS

# Each student can only take on subject per period
for h in number_of_students:
    for k in days_per_week:
        for i in range(lessons_per_day[k]):
            m += xsum(x_students[h][k][i][j] for j in number_of_subjects) <= 1

# hours per subject must add up over week
for h in number_of_students:
    for j in number_of_subjects:
        m += xsum(x_students[h][k][i][j] for k in days_per_week for i in range(lessons_per_day[k])) == subject_hours_per_week[j]
        
# same subject cannot be in subsequent periods
for h in number_of_students:
    for k in days_per_week:
        for j in number_of_subjects:
            m += xsum(x_students[h][k][i][j] for i in range(lessons_per_day[k])) <= 1

In [63]:
status = m.optimize()

if status == OptimizationStatus.OPTIMAL:
    print('optimal solution cost {} found'.format(m.objective_value))
elif status == OptimizationStatus.FEASIBLE:
    print('sol.cost {} found, best possible: {}'.format(m.objective_value, m.objective_bound))
elif status == OptimizationStatus.NO_SOLUTION_FOUND:
    print('no feasible solution found, lower bound is: {}'.format(m.objective_bound))
elif status == OptimizationStatus.INFEASIBLE:
    print('Problem is infeasible')

optimal solution cost 0.0 found

In [67]:
results_x = np.array(x_students)
results = np.zeros_like(results_x.flat)

for n, el in enumerate(results_x.flat):
    results[n] = el.x

results = results.reshape(results_x.shape)
results[0,2]

array([[1.0, 0.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 1.0, 0.0, 0.0],
       [0.0, 1.0, 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 1.0, 0.0]], dtype=object)

### Data Consolidation

In [79]:
print(subjects)
for h in number_of_students:
    print()
    print("Student "+str(h+1))
    for k in days_per_week:
        print(days[k]+":")
        for i in range(lessons_per_day[k]):
            print("Period "+str(i)+" ",end="")
            print(results[h,k,i])

['English' 'Mathematics' 'Science' 'Geography' 'Drama']

Student 1
Monday:
Period 0 [0.0 0.0 0.0 0.0 1.0]
Period 1 [0.0 1.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 0.0 1.0 0.0]
Period 3 [0.0 0.0 1.0 0.0 0.0]
Tuesday:
Period 0 [0.0 0.0 1.0 0.0 0.0]
Period 1 [1.0 0.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 0.0 1.0 0.0]
Period 3 [0.0 1.0 0.0 0.0 0.0]
Wednesday:
Period 0 [1.0 0.0 0.0 0.0 0.0]
Period 1 [0.0 0.0 1.0 0.0 0.0]
Period 2 [0.0 1.0 0.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 1.0 0.0]
Thursday:
Period 0 [0.0 1.0 0.0 0.0 0.0]
Period 1 [0.0 0.0 1.0 0.0 0.0]
Period 2 [1.0 0.0 0.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 0.0 1.0]
Friday:
Period 0 [0.0 0.0 1.0 0.0 0.0]
Period 1 [0.0 1.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 0.0 1.0 0.0]
Period 3 [1.0 0.0 0.0 0.0 0.0]

Student 2
Monday:
Period 0 [0.0 0.0 0.0 1.0 0.0]
Period 1 [0.0 0.0 1.0 0.0 0.0]
Period 2 [0.0 1.0 0.0 0.0 0.0]
Period 3 [1.0 0.0 0.0 0.0 0.0]
Tuesday:
Period 0 [1.0 0.0 0.0 0.0 0.0]
Period 1 [0.0 0.0 1.0 0.0 0.0]
Period 2 [0.0 1.0 0.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 1.0 0.0]
Wednesday:
Period 0 [0.0 0.0 0.0 0.0 1.0]
Period 1 [0.0 1.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 1.0 0.0 0.0]
Period 3 [1.0 0.0 0.0 0.0 0.0]
Thursday:
Period 0 [0.0 0.0 1.0 0.0 0.0]
Period 1 [1.0 0.0 0.0 0.0 0.0]
Period 2 [0.0 1.0 0.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 1.0 0.0]
Friday:
Period 0 [0.0 0.0 0.0 0.0 1.0]
Period 1 [0.0 0.0 0.0 1.0 0.0]
Period 2 [0.0 0.0 1.0 0.0 0.0]
Period 3 [0.0 1.0 0.0 0.0 0.0]

Student 3
Monday:
Period 0 [1.0 0.0 0.0 0.0 0.0]
Period 1 [0.0 1.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 1.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 1.0 0.0]
Tuesday:
Period 0 [0.0 1.0 0.0 0.0 0.0]
Period 1 [0.0 0.0 1.0 0.0 0.0]
Period 2 [0.0 0.0 0.0 1.0 0.0]
Period 3 [0.0 0.0 0.0 0.0 1.0]
Wednesday:
Period 0 [0.0 0.0 0.0 0.0 1.0]
Period 1 [1.0 0.0 0.0 0.0 0.0]
Period 2 [0.0 0.0 1.0 0.0 0.0]
Period 3 [0.0 1.0 0.0 0.0 0.0]
Thursday:
Period 0 [0.0 0.0 1.0 0.0 0.0]
Period 1 [1.0 0.0 0.0 0.0 0.0]
Period 2 [0.0 1.0 0.0 0.0 0.0]
Period 3 [0.0 0.0 0.0 1.0 0.0]
Friday:
Period 0 [0.0 1.0 0.0 0.0 0.0]
Period 1 [0.0 0.0 0.0 1.0 0.0]
Period 2 [0.0 0.0 1.0 0.0 0.0]
Period 3 [1.0 0.0 0.0 0.0 0.0]